* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.openart.ai/uploads/image_NQkg0GOn_1741020204704_raw.jpg');
    background-size: 3;
    background-position: middle;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.language-selector select {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.language-selector select:hover {
    background-color: #e0a237;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

button {
    background: linear-gradient(45deg, #ff6600, #ffcc00);
    color: #fff;
    border: 20px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: none;
    transition: transform 0.3s;
}

button:hover {
    background: linear-gradient(45deg, #ff3300, #ff9900);
    transform: scale(1.05);
}

/* Responsive styles */
@media (max-width: 768px) {
    h1, h2 {
        font-size: 1.5rem;
    }
    
    .container {
        width: 90%;
    }
}

